<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminHome</servlet-name>
        <servlet-class>AdminServlets.AdminHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUserProfile</servlet-name>
        <servlet-class>CommonServlets.ViewUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>CommonServlets.EditUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>AdminServlets.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBooks</servlet-name>
        <servlet-class>AdminServlets.ViewBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>CommonServlets.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCategories</servlet-name>
        <servlet-class>CommonServlets.GetCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSearchBooks</servlet-name>
        <servlet-class>CommonServlets.ViewSearchBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSingleBook</servlet-name>
        <servlet-class>CommonServlets.ViewSingleBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookFromCart</servlet-name>
        <servlet-class>CommonServlets.DeleteBookFromCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveBook</servlet-name>
        <servlet-class>AdminServlets.RemoveBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>CommonServlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBook</servlet-name>
        <servlet-class>AdminServlets.UpdateBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCartsHistory</servlet-name>
        <servlet-class>AdminServlets.GetCartsHistory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminHome</servlet-name>
        <url-pattern>/AdminHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUserProfile</servlet-name>
        <url-pattern>/ViewUserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBooks</servlet-name>
        <url-pattern>/ViewBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCategories</servlet-name>
        <url-pattern>/GetCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSearchBooks</servlet-name>
        <url-pattern>/ViewSearchBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSingleBook</servlet-name>
        <url-pattern>/ViewSingleBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookFromCart</servlet-name>
        <url-pattern>/DeleteBookFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveBook</servlet-name>
        <url-pattern>/RemoveBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBook</servlet-name>
        <url-pattern>/UpdateBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCartsHistory</servlet-name>
        <url-pattern>/GetCartsHistory</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/EditUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    </web-app>
